<div class="form-group">
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}} 
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label | titlecase}}>
        <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter the {{label}}</div>
        <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">{{label | titlecase}} is to short</div>
        <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">{{label | titlecase}} is to long</div>
        <div *ngIf="ngControl.control.errors?.isNotMatching" class="invalid-feedback">Passwords do not match</div>
</div>